#global{
    width: 1900px;
    height: 800px;
    background-color: silver;
}
#heading{
    width: 100%;
    height: 100px;
    background-color: white;
    padding-left: 30px;
}
.content_menu{
    width: 60%;
    height: 800px;
    background-color: #C5E9F3;
    /*定义浮动，不定义的话，界面会乱*/
    float: left;
}
#content_body{
    width: 40%;
    height: 800px;
    background-color: white;
    float:left
}
.paw{
    width: 280px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: #001529 1px solid;
}
.paw1{
    width: 300px;
    height: 40px;
    /*text-align: center;*/
    line-height: 40px;
    border: #001529 1px solid;
    margin-left: 25px;
}
.span3{
    font-family: '仿宋';
    font-size: large;
    color: #C5E9F3;
}
.span2{
    font-family: '仿宋';
    font-size: large;
    font-weight: bolder;
    color: #001529;
}
.span3{
    font-family: '仿宋';
    font-size: large;
    font-weight: bolder;
    color: #001529;
    margin-top: 25px;
    margin-left: 40px;
}
.titl{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.input_1{
    margin-top: 10px;
    margin-left: 15px;
    width:100%;
    height:35px;

}
.inputd{
    width:280px;
    height:30px;
    border-radius: 5px;
    border:1px solid  #e5dfdf;
}
.input_1 .login_logo{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    float: left;
}
.iteam{
    margin-top: 30px;
}
tr{
    margin: 0;
    padding: 0;
    height: 30px;
}
td{
    margin: 0;
    padding: 0;
    word-wrap:break-word;
    height: 30px;
}
.fixedTable > thead > tr > th, .fixedTable > tbody > tr > td {
    width: 1%!important;
}
#fixedTab3,#grid3,#fixedTab2,#grid2,#fixedTab1,#grid1,#fixedTab,#grid {
    width: 440px;
    border: 1px solid gray;
    margin: 0;
}
td,th{
    height:35px;
    text-align:center;
}
#contenter,#contenter1,#contenter2,#contenter3,#contenter4 {
    position: relative;
    width: 443px;
    height: 285px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: white;
    border: 1px solid black;
}
#fixedDiv,#fixedDiv1 ,#fixedDiv2,#fixedDiv3,#fixedDiv4 {
    width: 440px;
    position: absolute;
    left: 0;
    overflow: hidden;
}
#fixedTab th,#fixedTab1 th,#fixedTab2 th ,#fixedTab3 th,#fixedTab4 th{
    background-color: white;
    color: black;
    font-family: '仿宋';
    font-size: large;
}
#mainDiv,#mainDiv1,#mainDiv2,#mainDiv3，#mainDiv4{
    height:280px;
    width: 440px;
    overflow:auto;
    overflow-x:hidden;
}
table tr td:last-child{
    padding-right: 17px;
}
#tbody{
    overflow: hidden;
}
#tbody:hover{
    overflow-y: auto;
    margin-left: -17px;
}
.input_1 .close:hover{
    cursor:pointer;
}
.input_1 .submit_1{
    border:2px solid #f88020;
    height:30px;
    background-color: white;
}
.input_1 .submit_1:hover{
    background-color: #f88020;
    color:white;
}
.form_1,.form_2 {
    width:600px;
    height:700px;
    border:3px solid #f8f8f8;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 10px;
}
.open{
    visibility: visible;
    opacity: 1;
}
.input_1 .close{
    width:20px;
    height:20px;
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid  #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
hr{
    background-color: #F8F8F8;
}
table{
    table-layout: fixed;
}
*{
    word-break:break-all;
}