.lan{
    height: 30px;
    margin-top: 10px;
    background-color: #9e9e95;
}
.span{
    text-align: center;
    font-family: '仿宋';
    font-size: large;
    color: white;
    margin-left: 0px;
    margin-top: 5px;
}
.mess{
    background-color: yellow;
}
.num{
    color: darkred;
}
.text{
     text-align: center;
     font-family: '仿宋';
     font-size: large;
 }
.open{
    visibility: visible;
    opacity: 1;
}
#form_1,#form_2,#form_3,#form_6{
    width:400px;
    height:700px;
    border:3px solid #f8f8f8;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
}
.input_1{
    margin-top: 15px;
    width:100%;
    height:40px;
}
input{
    width:280px;
    height:30px;
    border-radius: 5px;
    border:1px solid  #e5dfdf;
}
.input_1 .login_logo{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    float: left;
}
.input_1 .close,.input_1 .close2,.input_1 .close3,.input_1 .close5{
    width:20px;
    height:20px;
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid  #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
.input_1 .close:hover,.input_1 .close2:hover,.input_1 .close3:hover,.input_1 .close5:hover{
    cursor:pointer;
}
hr{
    background-color: #F8F8F8;
}

.input_1 .submit_1{
    border:2px solid #f88020;
    height:40px;
    background-color: white;
}
.input_1 .submit_1:hover{
    background-color: #f88020;
    color:white;
}