.span{
    font-family: '仿宋';
    font-size: large;
}
.span2{
    font-family: '仿宋';
    font-size: large;
    font-weight: bolder;
    color: #001529;
}
.span1{
    font-family: '仿宋';
    font-size: large;
    font-weight: bolder;
    color: white;
}
#informat{
    padding-top:170px;
    padding-left:140px;
    margin-top: 70px;
    background-color: #333333;
    height: 620px;
}
.form_2{
    width:650px;
    height:850px;
    border:3px solid #f8f8f8;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 10px;
}
.open{
    visibility: visible;
    opacity: 1;
}
.input_1{
    margin-top: 10px;
    width:100%;
    height:35px;
}
.inputd{
    width:280px;
    height:30px;
    border-radius: 5px;
    border:1px solid  #e5dfdf;
}
.input_1 .login_logo{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    float: left;
}
.input_1 .close{
    width:20px;
    height:20px;
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid  #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
.close1 {
    width:20px;
    height:20px;
    color:#5d5d5d;
    text-align: center;
    line-height: 20px;
    border:1px solid  #5d5d5d;
    border-radius: 50%;
    float: right;
    padding-top: 0px;
    margin-right: 10px;
    font-size: 12px;
}
.input_1 .close:hover{
    cursor:pointer;
}
.close1:hover{
    cursor:pointer;
}
hr{
    background-color: #F8F8F8;
}
.input_1 .submit_1{
    border:2px solid #f88020;
    height:30px;
    background-color: white;
}
.input_1 .submit_1:hover{
    background-color: #f88020;
    color:white;
}
.shortselect{
    background:#fafdfe;
    height:35px;
    width:280px;
    line-height:35px;
    border:1px solid #9bc0dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.pagination-outer{ text-align: center; }
.pagination{
    background: #c9c3c3;
    font-family: 'Sniglet', cursive;
    padding: 5px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: black;
    background-color:white;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    height: 45px;
    width: 50px;
    margin: 0 2px 0 0;
    border: 1px solid #202020;
    border-top: 1px solid #353535;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #2ecc71;
    background: #151515;
    text-shadow: 0 0 15px rgba(46, 204, 113, 0.5);
    border: 1px solid transparent;
    border-bottom: 1px solid #252525;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
}
.pagination li:first-child a.page-link{ border-radius: 40px 0 0 40px; }
.pagination li:last-child a.page-link{
    margin-right: 0;
    border-radius: 0 40px 40px 0;
}
@media only screen and (max-width: 480px){
    .pagination{
        display: block;
        border-radius: 20px;
    }
    .pagination li{
        margin: 5px 2px;
        display: inline-block;
    }
}
table{
    margin-top: 10px;
    margin-left: 20px;
    height: 600px;
    border: #001529 1px;
}

