<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IntoWorkDao">
    <insert id="createWorkAllUser">
        insert into into_work values
        <foreach collection="usernames" item="username" separator="," close=";">
            (#{course_id},#{work_id},#{username},0,null,null)
        </foreach>
    </insert>
    <select id="getWorkAllUsername" resultType="string">
        select username from into_work where course_id=#{course_id} and work_id=#{work_id}
    </select>
    <select id="exsistUser" resultType="_int">
        select count(*) from into_work where course_id=#{course_id} and work_id=#{work_id}
    </select>
    <select id="getWorkALLInto" resultType="com.pojo.IntoWork">
        select *from into_work where course_id=#{course_id} and work_id=#{work_id}
    </select>
    <select id="userExsistInWork" resultType="_int">
        select count(*) from into_work where  course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </select>
    <insert id="createIntowWork">
        insert into into_work values (#{course_id},#{work_id},
        #{username},#{submited},
        #{file},
        null)
    </insert>
    <delete id="deleteUserFromWork">
        delete from into_work where  course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </delete>
    <update id="submitWork">
        update into_work set file=#{file},submited=1,content=#{content} where course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </update>
    <update id="updateSubmitWork">
         update into_work set file=#{file},content=#{content} where course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </update>
    <select id="getIntoWork" resultType="com.pojo.IntoWork">
        select *from into_work where course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </select>
    <delete id="deleteWork">
        delete from into_work where course_id=#{course_id} and work_id=#{work_id}
    </delete>
    <delete id="deleteCourse_ALLWork">
        delete from into_work where course_id=#{course_id}
    </delete>
    <update id="updateSubmitWorkNoFile">
            update into_work set content=#{content} where course_id=#{course_id} and work_id=#{work_id} and username=#{username}
    </update>
</mapper>