<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IntoClassDao">
    <select id="intoClassNumber" resultType="_int">
        select count(*) from into_course where username=#{username}
    </select>
    <select id="getCourseList" resultType="com.pojo.IntoClass">
        select into_course.* from into_course,course
        where username=#{username} and deleted=0 and into_course.course_id=course.course_id
        order by course.create_time desc
        limit #{begin},#{end}
    </select>
    <select id="getInto_User_List"  resultType="com.pojo.IntoClass">
        select * from into_course where course_id=#{course_id} and deleted=0
    </select>
    <select id="isIntoCourse" resultType="_int">
        select count(*) from into_course where username=#{username} and course_id=#{course_id} and deleted=0
    </select>
    <delete id="exitCourse">
         delete from into_course where username=#{username} and course_id=#{courseid}
    </delete>
    <insert id="intoClass">
        insert into into_course values(#{course_id},#{username},#{submited},#{filed},#{deleted})
    </insert>
    <select id="be_deleted" resultType="_int">
        select count(*) from into_course where  username=#{username} and course_id=#{courseid} and deleted=1
    </select>
    <insert id="intoFriendClass">
        insert into into_course values
        <foreach collection="usernames" item="username" separator="," close=";">
            (#{course_id},#{username},0,0,0)
        </foreach>
    </insert>
    <update id="mandatoryDeleteUser">
        update  into_course set deleted=1 where course_id=#{course_id} and username=#{username}
    </update>
    <delete id="deleteCourse">
        delete from into_course where course_id=#{course_id}
    </delete>
    <select id="getInto_Username_List" resultType="string">
        select username from into_course where course_id=#{course_id} and deleted=0
    </select>
</mapper>