<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrgDao">
    <select id="getOrgName" resultType="string">
        select org_name from org where org_id =#{org_id}
    </select>
    <select id="getCreateOrgUsername" resultType="string">
        select create_username from org where org_id =#{org_id}
    </select>
    <select id="getOrg" resultType="com.pojo.Org">
        select *from org where org_id=#{org_id}
    </select>
    <select id="orgIsExit" resultType="_int">
        select count(*) from org where org_id=#{org_id}
    </select>
    <update id="intoOrg">
        update org set into_number=into_number+1 where org_id=#{org_id}
    </update>
    <update id="exitOrg">
        update org set into_number=into_number-1 where org_id=#{org_id}
    </update>
    <insert id="createOrg">
        insert into org values(#{org_id},#{create_username},#{create_time},#{org_name},#{content},#{into_number})
    </insert>
    <select id="getUserAllOrg" resultType="com.pojo.Org">
        select *from org where create_username=#{username}
    </select>
    <update id="updateContent">
        update org set content=#{content} where org_id=#{org_id}
    </update>
    <update id="updateName">
         update org set org_name=#{name} where org_id=#{org_id}
    </update>
    <delete id="deleteOrg">
        delete from  org where org_id=#{org_id}
    </delete>

</mapper>